<ion-view view-title="Sign-Up">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password" id="password">
            </label>
            <label class="item item-input">
                <span class="input-label">re-Password</span>
                <input type="password" ng-model="user.re_password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="signUp(user)">
                Sign-Up
            </button>
            <p class="text-center">
                <a href="#/sign-in">Sign in</a>
            </p>
        </div>
    </ion-content>
</ion-view>