<ion-view view-title="Post">
    <ion-content>
        <div class="content ">
            <div class="button  button-full button-positive" ng-click="openTextPopover($event)">
                <span class="title">视频</span>
            </div>
            <div class="button  button-full button-calm" ng-click="openTextPopover($event)">
                <span class="title">照片</span>
            </div>
            <div class="button  button-full button-balanced" ng-click="openTextPopover($event)">
                <span class="title">对话</span>
            </div>
            <div class="button  button-full button-energized" ng-click="openTextPopover($event)">
                <span class="title">引用</span>
            </div>
            <div class="button  button-full button-assertive" ng-click="openTextPopover($event)">
                <span class="title">链接</span>
            </div>
            <div class="button  button-full button-royal" ng-click="openTextPopover($event)">
                <span class="title">文字</span>
            </div>
        </div>
    </ion-content>
</ion-view>
