<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!--http://themetaro.com/rock/icon_ionicons.html-->
    <!-- Dashboard Tab -->
    <ion-tab title="Home" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab
      <ion-tab title="Chats" icon-off="ion-ios7-chatboxes-outline" icon-on="ion-ios7-chatboxes" href="#/tab/chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
      </ion-tab>
    -->
    <!--我的喜欢-->
    <ion-tab title="Likes" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/likes">
        <ion-nav-view name="tab-likes"></ion-nav-view>
    </ion-tab>
    <!--发布内容-->
    <ion-tab title="Post" icon-off="ion-ios7-upload-outline" icon-on="ion-ios7-upload" href="#/tab/publish">
        <ion-nav-view name="tab-publish" animation="slide-left-right"></ion-nav-view>
    </ion-tab>
    <!-- Friends Tab -->
    <ion-tab title="Friends" icon-off="ion-ios7-people-outline" icon-on="ion-ios7-people" href="#/tab/friends">
        <ion-nav-view name="tab-friends"></ion-nav-view>
    </ion-tab>
    <!-- Account Tab -->
    <ion-tab title="Account" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
